@page "/about"
<div class="container">
    <div class="row">
        <h1>О сервисе</h1>
    </div>
    <div class="row">
        <p>Здесь должно быть много красиво оформленного текста про сервис...</p>
    </div>
</div>

@code {
    
}